<a href="https://colab.research.google.com/github/adi44/Data-Science-Course/blob/main/lecture_19_th_August_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# File Link : https://drive.google.com/file/d/1wGEeh0B8l7LSLhGGNjvet_504z3iLFdi/view?pli=1

In [2]:
fortune = open("Fortune_1000.csv", encoding='utf-8').readlines()

In [ ]:
fortune

In [ ]:
len(fortune)

In [ ]:
type(fortune)

In [ ]:
fortune[0]

In [11]:
fortune_without_coloumn = list(fortune)[1:]

In [ ]:
fortune_without_coloumn

In [ ]:
len(fortune_without_coloumn)

In [ ]:
fortune[0]

In [42]:
company_names = [ i.split(",")[0] for i in fortune_without_coloumn]

In [ ]:
company_names

In [91]:
coloum_names = fortune[0]
coloum_names

'company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap\n'

In [23]:
company_tickers = [ i.split(",")[-2] for i in fortune_without_coloumn]

In [ ]:
company_tickers

In [55]:
profits = [ (i.split(",")[4]) for i in fortune_without_coloumn ]

In [57]:
profits = [ 0 if i == "" else float(i) for i in profits]

In [58]:
max(profits)

94680.0

In [59]:
profits.index(max(profits))

2

In [61]:
company_names[2]

'Apple'

In [45]:
revenues = [ i.split(",")[3] for i in fortune_without_coloumn]

In [62]:
revenues = [ 0 if i == "" else float(i) for i in revenues]

In [63]:
max(revenues)

572754.0

In [64]:
revenues.index(max(revenues))

0

In [66]:
company_names[revenues.index(max(revenues))]

'Walmart'

In [67]:
fortune[0]

'company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap\n'

In [77]:
states = [(i.split(","))[8] for i in fortune_without_coloumn]

In [78]:
print(states)

['AR', 'WA', 'CA', 'RI', 'MN', 'TX', 'NE', 'CA', 'TX', 'PA', 'WA', 'CT', 'TX', 'WA', 'OH', 'CA', 'GA', 'IL', 'OH', 'IN', 'OH', 'MI', 'NY', 'NY', 'MI', 'MO', 'CA', 'PA', 'TX', 'TX', 'TX', 'MN', 'DC', 'GA', 'NC', 'NC', 'NJ', 'Chicago', 'TN', 'KY', 'CA', 'IL', 'NY', 'NY', 'Purchase', 'CA', 'OH', 'MA', 'NY', 'NY', 'NJ', 'ID', 'CA', 'TX', 'MD', 'VA', 'NY', 'MA', 'CA', 'IL', 'NY', 'TN', 'IL', 'MI', 'TX', 'IL', 'NY', 'MN', 'CT', 'TX', 'NJ', 'NY', 'IL', 'CA', 'MA', 'FL', 'TX', 'MA', 'OH', 'OH', 'Springdale', 'NY', 'OR', 'IL', 'NY', 'IL', 'NY', 'TX', 'TX', 'NY', 'TX', 'MA', 'Atlanta', 'VA', 'Inver Grove Heights', 'TX', 'WI', 'NC', 'IL', 'MA', 'VA', 'MN', 'NY', 'CO', 'NC', 'TN', 'CA', 'VA', 'CA', 'New York', 'FL', 'VA', 'GA', 'TX', 'CA', 'NY', 'IL', 'DC', 'FL', 'Seattle', 'Chicago', 'IN', 'TX', 'TX', 'CA', 'TX', 'ID', 'CA', 'CA', 'NJ', 'FL', 'RI', 'TX', 'CA', 'TX', 'CA', 'VA', 'NY', 'Chicago', 'CA', 'FL', 'MI', 'CA', 'NY', 'NC', 'IL', 'CA', 'PA', 'IN', 'MN', 'WA', 'Chicago', 'GA', 'MN', 'NC', 'CA', 'AZ', 'OR', 'NY', 'CT', 'GA', 'MI', 'NE', 'TN', 'Richmond', 'IL', 'WI', 'CA', 'FL', 'TX', 'OH', 'PA', 'NJ', 'VA', 'OH', 'TX', 'NY', 'PA', 'LA', 'AZ', 'TX', 'TX', 'WI', 'NY', 'IL', 'MI', 'PA', 'TX', 'CA', 'NY', 'GA', 'GA', 'TX', 'NJ', 'MA', 'IN', 'TX', 'TX', 'MO', 'PA', 'Minneapolis', 'IL', 'TX', 'PA', 'CO', 'FL', 'VA', 'CA', 'OH', 'CA', 'NY', 'CT', 'DE', 'MI', 'FL', 'TX', 'CA', 'PA', 'OH', 'CA', 'MA', 'MO', 'TX', 'OK', 'WA', 'CA', 'WI', 'NY', 'NY', 'NC', 'NY', 'Arden Hills', 'TX', 'TX', 'CA', 'CT', 'Indianapolis', 'FL', 'MI', 'AR', 'TX', 'NJ', 'CA', 'MI', 'WA', 'NY', 'NY', 'TX', 'TN', 'CA', 'WI', 'IL', 'OH', 'CT', 'NY', 'IA', 'VA', 'Battle Creek', 'TX', 'TX', 'CA', 'TX', 'NY', 'CA', 'CO', 'CA', 'GA', 'FL', 'NC', 'Bethesda', 'IN', 'CO', 'TX', 'VA', 'MA', 'NY', 'MN', 'MN', 'MO', 'MA', 'IL', 'MI', 'IL', 'IL', 'TX', 'PA', 'NY', 'CA', 'VA', 'AZ', 'CT', 'IL', 'MN', 'TN', 'Maumee', 'Burlington', 'PA', 'FL', 'NY', 'NC', 'CA', 'RI', 'MO', 'TN', 'FL', 'IN', 'PA', 'CO', 'OK', 'NY', 'AR', 'PA', 'NE', 'PA', 'TX', 'MA', 'TN', 'NY', 'MA', 'TX', 'LA', 'NY', 'CO', 'NE', 'NY', 'CO', 'Austin', 'FL', 'AZ', 'GA', 'Chicago', 'GA', 'VA', 'GA', 'Reno', 'NY', 'NC', 'MA', 'MI', 'CT', 'CT', 'NJ', 'OH', 'CO', 'MI', 'TN', 'OK', 'GA', 'TN', 'PA', 'MN', 'Chicago', 'NY', 'WA', 'NY', 'FL', 'CT', 'MA', 'Plano', 'GA', 'VA', 'NJ', 'CT', 'Las Vegas', 'FL', 'CA', 'OH', 'PA', 'IL', 'VA', 'CT', 'OH', 'AZ', 'NY', 'MA', 'IL', 'NJ', 'NJ', 'FL', 'CO', 'NJ', 'Merriam', 'CA', 'GA', 'NY', 'NY', 'NY', 'Hershey', 'VA', 'NY', 'OH', 'MI', 'MO', 'FL', 'MI', 'CA', 'PA', 'DC', 'MO', 'CO', 'MI', 'IL', 'Victor', 'WA', 'NC', 'TX', 'GA', 'OH', 'Camden', 'TX', 'CA', 'CA', 'MI', 'TX', 'OH', 'WI', 'NY', 'RI', 'MN', 'CA', 'MI', 'IL', 'IL', 'WA', 'CA', 'Orrville', 'NJ', 'WI', 'FL', 'CT', 'TX', 'ID', 'IL', 'VA', 'OH', 'VA', 'DE', 'IN', 'PA', 'NJ', 'IL', 'CA', 'MD', 'IL', 'IA', 'CA', 'NY', 'MA', 'OH', 'Newport Beach', 'MI', 'PA', 'AZ', 'OH', 'PA', 'VA', 'PA', 'NC', 'CA', 'TX', 'OH', 'FL', 'MA', 'MN', 'Orlando', 'GA', 'GA', 'NC', 'PA', 'OH', 'CT', 'WI', 'RI', 'CA', 'IL', 'Westchester', 'GA', 'VA', 'TX', 'OH', 'TX', 'CA', 'AZ', 'TX', 'TX', 'TX', 'CA', 'AR', 'AL', 'Louisville', 'FL', 'IL', 'IL', 'CA', 'NY', 'RI', 'FL', 'VA', 'CT', 'MO', 'OH', 'DE', 'TX', 'CA', 'Hunt Valley', 'CA', 'FL', 'CA', 'WA', 'NY', 'St. Louis', 'NY', 'PA', 'WA', 'OH', 'AZ', 'MD', 'OH', 'NY', 'AZ', 'OH', 'VA', 'NY', 'CA', 'MN', 'TX', 'AZ', 'CA', 'MN', 'Wyomissing', 'CA', 'NY', 'IL', 'AZ', 'OK', 'CA', 'IL', 'McLean', 'MO', 'CA', 'NY', 'CA', 'CA', 'OK', 'CA', 'MD', 'ND', 'CT', 'IL', 'NC', 'MA', 'CA', 'IL', 'NY', 'WI', 'SC', 'CA', 'MO', 'NC', 'Charlotte', 'OH', 'AL', 'PA', 'Corona', 'NC', 'TX', 'Las Vegas', 'NC', 'TX', 'CA', 'AZ', 'WI', 'IL', 'FL', 'CA', 'NY', 'LA', 'NC', 'WA', 'CO', 'OK', 'CA', 'MA', 'NC', 'DC', 'NJ', 'MI', 'AZ', 'CA', 'TX', 'TN', 'AL', 'IN', 'TX', 'CA', 'CA', 'CA', 'MO', 'CO', 'MA', 'CT', 'WI', 'PA', 'AZ', 'PA', 'MO', 'OH', 'NY', 'NC', 'TX', 'TX', 'PA', 'IL', 'CA', 'KY', 'OH', 'GA', 'MI', 'IN', 'IN', 'CA', 'OH', 'Laurel', 'OH', 'MO', 'NC', 'CA', 'IN', 'CA', 'OH', 'Irving', 'CA', 'CT', 'TX', 'CT', 'IL', 'TX', 'CA', 'CO', 'CA', 'WI', 'TX', 'ME', 'TX', 'TN', 'PA', 'PA', 'NV', 'CA', 'WI', 'CA', 'MA', 'IN', 'DE', 'CA', 'TX', 'Oak Brook', 'NY', 'TX', 'TX', 'CA', 'Ann Arbor', 'VA', 'Thomasville', 'GA', 'CA', 'VA', 'NC', 'IL', 'OH', 'NY', 'PA', 'CO', 'CA', 'VA', 'TX', 'TX', 'NJ', 'OH', 'SC', 'Tampa', 'IN', 'CA', 'CA', 'IN', 'NY', 'NY', 'MN', 'New York', 'IL', 'NC', 'NJ', 'CA', 'TX', 'NV', 'AR', 'MN', 'KS', 'AZ', 'CA', 'MN', 'NJ', 'HI', 'OH', 'Orlando', 'CT', 'TX', 'DE', 'NY', 'MI', 'IL', 'AZ', 'WI', 'WA', 'MA', 'AZ', 'WA', 'TN', 'Las Vegas', 'CA', 'PA', 'OH', 'WI', 'OH', 'OH', 'MA', 'IA', 'NV', 'CT', 'Eagle', 'WI', 'TN', 'VA', 'CA', 'OK', 'MI', 'MN', 'MD', 'CA', 'CA', 'MO', 'TX', 'CA', 'TX', 'MA', 'WI', 'NY', 'OH', 'CA', 'NE', 'NH', 'TX', 'IL', 'GA', 'FL', 'GA', 'Louisville', 'MA', 'Louisville', 'GA', 'DE', 'TX', 'IL', 'GA', 'CA', 'MA', 'CT', 'TX', 'NJ', 'NY', 'Las Vegas', 'WI', 'SC', 'OH', 'VT', 'PA', 'TX', 'CA', 'Dallas', 'NC', 'MO', 'Las Vegas', 'NY', 'TX', 'CA', 'GA', 'MN', 'IL', 'IA', 'NY', 'PA', 'OH', 'OH', 'TN', 'FL', 'IL', 'FL', 'ME', 'CA', 'CA', 'VA', 'CA', 'OH', 'VA', 'NY', 'OH', 'IN', 'CA', 'IL', 'Orlando', 'Carlsbad', 'FL', 'OR', 'PA', 'TN', 'CA', 'NY', 'OH', 'TX', 'TX', 'PA', 'FL', 'TX', 'Chicago', 'TX', 'MO', 'IL', 'TX', 'NJ', 'WI', 'KS', 'VA', 'NC', 'CA', 'DE', 'TX', 'KY', 'PA', 'NC', 'MI', 'UT', 'WI', 'MA', 'CA', 'CT', 'TX', 'IL', 'Calabasas Hills', 'AZ', 'CA', 'CA', 'CA', 'IL', 'NY', 'NH', 'MD', 'MA', 'TX', 'OK', 'IN', 'MN', 'NY', 'HI', 'PA', 'CA', 'NY', 'NY', 'GA', 'PA', 'NE', 'Lebanon', 'NY', 'PA', 'CA', 'PA', 'CA', 'MA', 'NY', 'NJ', 'RI', 'MO', 'DC', 'UT', 'MI', 'NY', 'NY', 'IL', 'PR', 'CA', 'OR', 'TN', 'NE', 'GA', 'UT', 'GA', 'CA', 'UT', 'TX', 'UT', 'CA', 'TX', 'IL', 'CA', 'CA', 'CO', 'CA', 'MN', 'WA', 'MI', 'TX', 'CA', 'NV', 'CA', 'NY', 'VA', 'PA', 'AZ', 'CA', 'NY', 'KS', 'NC', 'CO', 'NC', 'CO', 'CT', 'PA', 'MI', 'IL', 'CA', 'GA', 'TN', 'MA', 'OH', 'MI', 'GA', 'FL', 'CO', 'DE', 'MO', 'IN', 'FL', 'OR', 'WI', 'TN', 'CA', 'OH', 'VA', 'OH', 'IL', 'TX', 'Orlando', 'MI', 'NY', 'CO', 'OH', 'NY', 'FL', 'TX', 'MA', 'VA', 'GA', 'OH', 'CO', 'MI', 'TN', 'FL', 'CA', 'AZ', 'IN', 'CA', 'TX', 'CO', 'TX', 'MO', 'MN', 'TN', 'LA', 'LA', 'IL', 'MO', 'CA', 'MN', 'IA', 'CA', 'WA', 'NY', 'FL', 'CA', 'NJ', 'Fairhaven', 'PA', 'GA', 'OH', 'TX', 'VA', 'CA', 'NY', 'NY', 'DE', 'CA']

In [79]:
list_format_for_each_company = [i.split(",") for i in fortune_without_coloumn]

In [80]:
count = 0
# loop through each company and check if its situated in "TX"
for i in list_format_for_each_company:
  count = count + 1 if i[8] == "TX" else count

print(count)

94

In [87]:
# print dictionary of state and total number of companies from it.
# convert all the strings to list format

list_format_for_each_company = [i.split(",") for i in fortune_without_coloumn]

# initialize empty dictionary
dict_of_states = {}

# loop through each dictionary
for i in list_format_for_each_company:
  # index of state is 8
  state = i[8]

  # check if state is available in dict
  if not dict_of_states.get(state):
    # if its not we will put it in dictionary and initalize its value to one.
    dict_of_states[state] = 1
  # if state is repeating again we will just increment it
  dict_of_states[state] +=1

dict_of_states

{'AR': 6,
 'WA': 17,
 'CA': 128,
 'RI': 8,
 'MN': 24,
 'TX': 95,
 'NE': 8,
 'PA': 44,
 'CT': 25,
 'OH': 53,
 'GA': 33,
 'IL': 54,
 'IN': 19,
 'MI': 30,
 'NY': 84,
 'MO': 21,
 'DC': 6,
 'NC': 29,
 'NJ': 23,
 'Chicago': 8,
 'TN': 22,
 'KY': 4,
 'Purchase': 2,
 'MA': 32,
 'ID': 4,
 'MD': 7,
 'VA': 33,
 'FL': 34,
 'Springdale': 2,
 'OR': 6,
 'Atlanta': 2,
 'Inver Grove Heights': 2,
 'WI': 22,
 'CO': 22,
 'New York': 3,
 'Seattle': 2,
 'AZ': 21,
 'Richmond': 2,
 'LA': 6,
 'Minneapolis': 2,
 'DE': 10,
 'OK': 9,
 'Arden Hills': 2,
 'Indianapolis': 2,
 'IA': 6,
 'Battle Creek': 2,
 'Bethesda': 2,
 'Maumee': 2,
 'Burlington': 2,
 'Austin': 2,
 'Reno': 2,
 'Plano': 2,
 'Las Vegas': 6,
 'Merriam': 2,
 'Hershey': 2,
 'Victor': 2,
 'Camden': 2,
 'Orrville': 2,
 'Newport Beach': 2,
 'Orlando': 5,
 'Westchester': 2,
 'AL': 4,
 'Louisville': 4,
 'Hunt Valley': 2,
 'St. Louis': 2,
 'Wyomissing': 2,
 'McLean': 2,
 'ND': 2,
 'SC': 4,
 'Charlotte': 2,
 'Corona': 2,
 'Laurel': 2,
 'Irving': 2,
 'ME': 3,
 'NV': 5,
 'Oak Brook': 2,
 'Ann Arbor': 2,
 'Thomasville': 2,
 'Tampa': 2,
 'KS': 4,
 'HI': 3,
 'Eagle': 2,
 'NH': 3,
 'VT': 2,
 'Dallas': 2,
 'Carlsbad': 2,
 'UT': 6,
 'Calabasas Hills': 2,
 'Lebanon': 2,
 'PR': 2,
 'Fairhaven': 2}

In [90]:
# print the name of companies whose profit is greater than revenue
# Loop through each list format
for company in list_format_for_each_company:
  company_name = company[0]
  profit = company[4]
  revenue = company[3]
  # check if profit is empty string
  if profit == "":
    # if yes put it to 0.0
    profit = 0.0
  # check if revenue is empty string
  if revenue == "":
    # if yes put it to 0.0
    revenue = 0.0

  # check if profit > revenue
  # if yes print the name of company
  if float(revenue) - float(profit) < 0:
    print(company_name)

eBay
Bio-Rad Laboratories
Cooper Cos.

In [93]:
fortune[0]

'company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap\n'

In [103]:
# Find number of unique sectors
# there are few names that has comma within it due to which name splits into 2
# earlier we splitted it
sectors = [i[6] + i[7] if i[6].startswith("\"") else i[6]  for i in list_format_for_each_company]
print(set(sectors))
len(set(sectors))

{'"Food Beverages & Tobacco"', 'Retailing', 'Engineering & Construction', 'Health Care', 'Materials', 'Apparel', 'Household Products', 'Chemicals', '"Hotels Restaurants & Leisure"', 'Aerospace & Defense', 'Telecommunications', 'Energy', 'Media', 'Business Services', 'Motor Vehicles & Parts', 'Financials', 'Food & Drug Stores', 'Technology', 'Industrials', 'Wholesalers', 'Transportation'}

21